@charset "UTF-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-style: italic;
	margin-top: 2em;
	text-align: right;
}

.center{
	text-align: center;
}

.placard{
	text-align: center;
	font-variant: small-caps;
	margin: 1em;
}

.placard + p{
	text-indent: 0;
}

section > header{
	text-align: center;
}

p[epub|type~="bridgehead"]{
	font-style: italic;
	hyphens: none;
	margin: 3em;
	margin-top: 0;
	text-align: left;
	text-indent: 0;
	display: inline-block;
}

p[epub|type~="bridgehead"] i{
	font-style: normal;
}

abbr.name{
	white-space: nowrap;
}
