@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

.signature{
	font-style: italic;
	margin-top: 2em;
	text-align: right;
}

#chapter-23 blockquote{
	text-align: center;
	font-variant: small-caps;
}

[epub|type~="bridgehead"]{
	display: inline-block;
	font-style: italic;
	max-width: 60%;
	text-align: justify;
	text-indent: 0;
}

[epub|type~="bridgehead"] i{
	font-style: normal;
}

table td:first-child{
	padding-right: 1em;
}

table td:last-child{
	text-align: right;
}

table tr:last-child td:last-child{
	border-top: 1px solid;
}
